/* Webfont: DBHeaventRounded-CondIt */@font-face {
    font-family: 'DBHeaventRoundedCondIt';
    src: url('DB HeaventRounded Cond It v3.2.woff2') format('woff2'), /* Modern Browsers */
         url('DB HeaventRounded Cond It v3.2.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

